{% load browserid %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}{% endblock %}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

    <link href="{{ STATIC_URL }}vendor/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="{{ STATIC_URL }}vendor/bootstrap-tagsinput/dist/bootstrap-tagsinput.css" rel="stylesheet" />
    <link href="{{ STATIC_URL }}css/main.css" rel="stylesheet" />
    {% browserid_css %}

    {% block extrahead %}{% endblock %}
</head>

<body>
    {% browserid_info %}
    <div class="container">
        {% block header %}{% endblock %}

        {% if messages %}
        <div>
            {% for message in messages %}
                {% autoescape off %}
                    {{ message|safe }}
                {% endautoescape %}
            {% endfor %}
        </div>
        {% endif %}

        <div class="row">
            {% block content %}{% endblock %}
        </div>

        <footer>
            <strong>Sabrosous</strong> is <a href="https://github.com/javaguirre/sabrosous">Free Software</a>
        </footer>

        {% block js %}
            <script type="text/javascript" src="{{ STATIC_URL }}vendor/jquery/jquery.js"></script>
            <script type="text/javascript" src="{{ STATIC_URL }}vendor/react/react.js"></script>
            <script type="text/javascript" src="{{ STATIC_URL }}vendor/jquery-cookie/jquery.cookie.js"></script>
            <script type="text/javascript" src="{{ STATIC_URL }}vendor/momentjs/moment.js"></script>
            <script type="text/javascript" src="{{ STATIC_URL }}vendor/bootstrap-tagsinput/dist/bootstrap-tagsinput.js"></script>
            <script type="text/javascript"
                    src="{{ STATIC_URL }}vendor/react/JSXTransformer.js"></script>
            <script type="text/javascript" src="{{ STATIC_URL }}js/parseuri.js"></script>
            {% browserid_js %}
        {% endblock %}
    </div>
</body>
</html>
